li {
  list-style: none;
}

.chosen-container {
  width: 250px;
  margin: 10px auto;
  & > .makeStyles-root-4 {
    height: auto;
  }
}

.drop-downs-container {
  width: 90%;
  min-width: 800px;
  margin: 10px auto;
  & > ul {
    display: flex;
    & > li {
      flex: 1 1 33%;
    }
  }
}
